/* Font Family Satoshi */
@font-face {
  font-family: 'Satoshi-Regular', sans-serif;
  src: url('../font-family/Satoshi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Medium', sans-serif;
  src: url('../font-family/Satoshi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../font-family/Satoshi-Bold.ttf') format('truetype');
}

:root {
  /* Colors */
  --color-grayscale-25: #fcfcfc;
  --color-grayscale-50: #fafafa;
  --color-grayscale-100: #f4f4f5;
  --color-grayscale-200: #e4e4e7;
  --color-grayscale-300: #d1d1d6;
  --color-grayscale-400: #a0a0ab;
  --color-grayscale-500: #70707b;
  --color-grayscale-600: #51525c;
  --color-grayscale-700: #3f3f46;
  --color-grayscale-800: #26272b;
  --color-grayscale-900: #18181b;

  /* Font Family */
  --font-family-regular: 'Satoshi-Regular', sans-serif;
  --font-family-medium: 'Satoshi-Medium', sans-serif;
  --font-family-bold: 'Satoshi-Bold', sans-serif;

  /* Heading Large */
  --heading-1-display-large-font-size: 104px;
  --heading-1-display-large-regular-font-weight: 400;
  --heading-1-display-large-line-height: 110%;
  --heading-1-display-large-medium-font-weight: 500;

  /* Heading Medium */
  --heading-2-display-medium-font-size: 64px;
  --heading-2-display-medium-regular-font-weight: 400;
  --heading-2-display-medium-line-height: 120%;
  --heading-2-display-medium-medium-font-weight: 500;
  --heading-3-display-medium-font-size: 52px;
  --heading-3-display-medium-regular-font-weight: 400;
  --heading-3-display-medium-line-height: 120%;
  --heading-3-display-medium-medium-font-weight: 500;

  /* Heading Small */
  --heading-4-display-small-font-size: 48px;
  --heading-4-display-small-regular-font-weight: 400;
  --heading-4-display-small-line-height: 120%;
  --heading-4-display-small-medium-font-weight: 500;

  /* Heading XSmall */
  --heading-5-display-xsmall-font-size: 40px;
  --heading-5-display-xsmall-regular-font-weight: 400;
  --heading-5-display-xsmall-line-height: 120%;
  --heading-5-display-xsmall-medium-font-weight: 500;

  /* Heading XXSmall */
  --heading-6-display-xxsmall-font-size: 32px;
  --heading-5-display-xxsmall-regular-font-weight: 400;
  --heading-5-display-xxsmall-line-height: 120%;
  --heading-6-display-xxsmall-medium-font-weight: 500;

  /* Heading XXXSmall */
  --heading-7-heading-xxxsmall-font-size: 24px;
  --heading-7-heading-xxxsmall-regular-font-weight: 400;
  --heading-7-heading-xxxsmall-line-height: 120%;
  --heading-7-heading-xxxsmall-medium-font-weight: 500;

  /* Body XLarge */
  --body-xlarge-font-size: 20px;
  --body-xlarge-line-height: 155%;
  --body-xlarge-bold-font-weight: 700;
  --body-xlarge-bold-line-height: 120%;
  --body-xlarge-medium-font-weight: 500;
  --body-xlarge-regular-font-weight: 400;

  /* Body Large */
  --body-large-font-size: 18px;
  --body-large-bold-font-weight: 700;
  --body-large-line-height: 155%;
  --body-large-medium-font-weight: 500;
  --body-large-regular-font-weight: 400;

  /* Body Medium */
  --body-medium-font-size: 16px;
  --body-medium-bold-font-weight: 700;
  --body-medium-line-height: 155%;
  --body-medium-medium-font-weight: 500;
  --body-medium-medium-line-height: 125%;
  --body-medium-regular-font-weight: 400;
  --body-medium-regular-line-height: 120%;

  /* Body Small */
  --body-small-font-size: 14px;
  --body-small-bold-font-weight: 700;
  --body-small-line-height: 155%;
  --body-small-medium-font-weight: 500;
  --body-small-regular-font-weight: 400;

  /* Body XSmall */
  --body-xsmall-font-size: 12px;
  --body-xsmall-bold-font-weight: 700;
  --body-xsmall-line-height: 155%;
  --body-xsmall-medium-font-weight: 500;
  --body-xsmall-regular-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-regular), sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 89%;
  margin: 0 auto;
}

/* NavBar_Start Style */
nav {
  padding: 19px 0;
}

/* Navigation_Bar Style */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.logo img {
  width: 24px;
  height: 24px;
}

.logo span {
  color: var(--color-grayscale-900);
  font-family: var(--font-family-bold);
  font-style: var(--body-xlarge-font-style);
  font-weight: 900;
  line-height: normal;
}

/* Navigation_Menu Style */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  padding: 8px 12px;
}

a {
  color: var(--color-grayscale-500);
  font-family: var(--font-family-regular);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-regular-font-weight);
  line-height: var(--body-small-line-height);
  cursor: pointer;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

a:hover {
  color: var(--color-grayscale-900);
}

.page {
  color: var(--color-grayscale-900);
}

/* Button Style */
.common_btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 18px;
  border: 1px solid var(--color-grayscale-900);
  border-radius: 12px;
  background: var(--color-grayscale-900);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.common_btn a {
  color: var(--color-grayscale-25);
  font-family: var(--font-family-medium);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-medium-font-weight);
  line-height: var(--body-medium-line-height);
  transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
}

.common_btn:hover {
  background: var(--color-grayscale-25);
}

.common_btn:hover a {
  color: var(--color-grayscale-900);
}

/* Mobile_Menu */
.menu {
  display: none;
  cursor: pointer;
}

.menu i {
  color: var(--color-grayscale-900);
}

/* NavBar_End Style */

/* Hero_Start Style */
.hero {
  padding: 80px 0;
}

/* Hero_Wrapper Style */
.hero_wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

/* Heading_And_Supporting_Text Style */
.heading_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

/* Heading Style */
.heading h3 {
  color: var(--color-grayscale-900);
  font-family: var(--font-family-regular);
  font-size: var(--heading-3-display-medium-font-size);
  font-weight: var(--heading-3-display-medium-regular-font-weight);
  line-height: var(--heading-3-display-medium-line-height);
  letter-spacing: -1.04px;
}

/* Supporting_Text Style */
.supporting_text p {
  color: var(--color-grayscale-500);
  font-family: var(--font-family-regular);
  font-size: var(--body-large-font-size);
  font-weight: var(--body-large-regular-font-weight);
  line-height: var(--body-large-line-height);
}

/* Form_And_Content Style */
.form_and_content {
  width: 100%;
  display: flex;
  gap: 56px;
}

/* Form Style */
.form {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Form_Fields Style */
.form_fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Name_Fields Style */
.name_fields {
  display: flex;
  gap: 16px;
}

/* First_Name Style 
Last_Name Style */
.first_name,
.last_name {
  display: flex;
  align-items: center;
}

label,
input {
  border: none;
  outline: none;
  font-size: var(--body-medium-font-size);
  color: var(--color-grayscale-900);
  font-family: var(--font-family-medium);
  font-weight: var(--body-medium-medium-font-weight);
  line-height: var(--body-medium-line-height);
}

/* Email Style */
.email {
  width: 100%;
  height: 78px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.email input {
  padding: 13px 14px;
}

/* Phone Style */
.phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Phone_Input Style */
.phone_input {
  padding: 10px 0px;
  display: flex;
  gap: 8px;
}

.phone_input select {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 7px;
  font-size: var(--body-medium-font-size);
}

/* Submit_Button Style */
.contact_field input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--color-grayscale-900);
  font-family: var(--font-family-medium);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-medium-font-weight);
  line-height: var(--body-medium-line-height);
}

.message {
  display: flex;
  height: 237px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.contact_field textarea {
  width: 100%;
  height: 100%;
  padding: 12px 14px;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--color-grayscale-200);
  background: var(--color-grayscale-25);
  color: var(--color-grayscale-500);
  font-family: var(--font-family-regular);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-regular-font-weight);
  line-height: var(--body-medium-line-height);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Checkbox Style */
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.checkbox input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid var(--color-grayscale-200);
  background: var(--color-grayscale-25);
}

.checkbox span {
  color: var(--color-grayscale-500);
  font-family: var(--font-family-regular);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-regular-font-weight);
  line-height: var(--body-medium-line-height);
}

/* Submit_Button Style */
.submit_button > .common_btn {
  width: 100%;
}

/* Contents Style */
.contents {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Contents_Wrapper Style */
.contents_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/* Top_Content Style
Bottom_Content Style */
.top_content,
.bottom_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* content Style */
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Content_Info Style */
.content_info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content_info img {
  width: 32px;
  height: 32px;
}

/* Text_And_Supporting_Text Style */
.text_and_supporting_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Text Style */
.text > p {
  color: var(--color-grayscale-900);
  font-family: var(--font-family-bold);
  font-size: var(--body-large-font-size);
  font-weight: var(--body-large-bold-font-weight);
  line-height: var(--body-large-line-height);
}

/* Supporting_Text Style */
.supporting_text span {
  color: var(--color-grayscale-500);
  font-family: var(--font-family-regular);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-regular-font-weight);
  line-height: var(--body-medium-line-height);
}

.content p {
  color: var(--color-grayscale-900);

  /* body/medium/XLarge */
  font-family: var(--font-family-medium);
  font-size: var(--body-xlarge-font-size);
  font-weight: var(--body-xlarge-medium-font-weight);
  line-height: var(--body-xlarge-line-height);
}

/* Hero_End Style */

/* Footer Style Start */
.footer {
  padding: 80px 56px 40px 56px;
  background: var(--color-grayscale-900);
}

/* Footer_Wrapper Style */
.footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Footer_Details Style */
.footer_details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Company_Info Style */
.company_info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.company_info h5 {
  width: 55%;
  color: var(--color-grayscale-25);
  font-family: var(--font-family-regular);
  font-size: var(--heading-6-display-xxsmall-font-size);
  font-weight: var(--heading-5-display-xxsmall-regular-font-weight);
  line-height: var(--heading-7-heading-xxxsmall-line-height);
}

/* Contact_Info_Wrapper Style */
.contact_info_wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

/* Contact_Info Style */
.contact_info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact_info p,
.footer_menu p {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-family-medium);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-medium-font-weight);
  line-height: var(--body-small-line-height);
}

.contact_info a {
  color: var(--color-grayscale-25);
  font-family: var(--font-family-regular);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-regular-font-weight);
  line-height: var(--body-medium-line-height);
}

/* Footer_Menu Style */
.footer_menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer_menu a {
  color: var(--color-grayscale-25);
  font-family: var(--font-family-medium);
  font-size: var(--body-medium-font-size);
  font-weight: var(--body-medium-regular-font-weight);
  line-height: var(--body-medium-line-height);
}

.footer_menu a:hover {
  cursor: pointer;
}

/* Footer_Menu_Left Style */
.footer_menu_left,
.footer_menu_right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Navigation_Links Style */
.navigation_links {
  width: 232px;
  display: flex;
  gap: 24px;
}

/* Navigation_Links_Column Style */
.navigation_links_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Footer_Menu_Right Style */

/* Footer_Menu_Right Style */
.footer_menu_right .social_media_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

/* Footer_Bottom Style */
.footer_bottom {
  border-top: 1px solid var(--color-grayscale-500);
}

/* Footer_Text Style */
.footer_text {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer_text .logo span {
  color: var(--color-grayscale-25);
}

.footer_text p {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-family-medium);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-medium-font-weight);
  line-height: var(--body-small-line-height);
}

/* Back_To_Top Style */
.back_to_top a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--color-grayscale-25);
  font-family: var(--font-family-medium);
  font-size: var(--body-small-font-size);
  font-weight: var(--body-small-medium-font-weight);
  line-height: var(--body-medium-line-height);
}

.back_to_top i {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-grayscale-25);
}

/* Footer Style End */

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-grayscale-700);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-grayscale-300);
}

/* Responsive Styles Start */
@media (max-width: 1366px) {
  .heading h3 {
    font-size: var(--heading-5-display-xsmall-font-size);
  }

  .supporting_text p {
    font-size: var(--body-large-font-size);
  }
}

@media (max-width: 1024px) {
  .contact_info_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .form_and_content {
    flex-direction: column;
  }

  .form,
  .contents,
  .first_name,
  .last_name {
    width: 100%;
  }

  .text p {
    font-size: var(--body-large-font-size);
  }

  .content p {
    font-size: var(--body-medium-font-size);
  }
}

@media (max-width: 768px) {
  .company_info h5 {
    width: 100%;
  }
  .footer_details {
    flex-direction: column;
    gap: 24px;
  }

  .menu {
    display: block;
  }

  .nav ul,
  .nav button {
    display: none;
  }

  .content p {
    font-size: var(--body-small-font-size);
  }
}

@media (max-width: 650px) {
  .contact_info_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_menu_right .social_media_links {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .name_fields,
  .footer_text,
  .footer_menu {
    flex-direction: column;
    gap: 24px;
  }
}
